<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="1em">
  <div class="local-menu" fxFlex="0 1 240px">
    <ul>
      <li>
        <a>bio</a>
      </li>
      <li>
        <a>publications</a>
      </li>
      <li>
        <a>agenda</a>
      </li>
      <li>
        <a>contact</a>
      </li>
    </ul>
  </div>
  <div class="local-candidat" fxFlex>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam corporis magnam vero id, tempora ut, odit est mollitia eius nihil ex, reprehenderit consequuntur accusantium dicta. Minima veniam voluptates, necessitatibus aperiam animi deserunt delectus cum sapiente praesentium ut, vel a?
  </div>
</div>