<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="1em">
  <div class="local-menu" fxFlex="0 1 240px">
    <ul>
      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/presentation">bio</a>
      </li>
      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/publications">publications</a>
      </li>
      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/agenda">agenda</a>
      </li>
    </ul>
  </div>
  <div class="local-candidat" fxFlex>
    <router-outlet></router-outlet>
  </div>
</div>
